* {
    box-sizing : border-box;
    margin     : 0;
    padding    : 0;
}

html {
    background-color : #d5d5d5;
    font-family      : 'Roboto', sans-serif;
    font-size        : 16px;
}

#guybrush {
    position         : absolute;
    top              : -0.5rem;
    left             : -5rem;
    background       : url('img/guybrush.png') no-repeat top center;
    background-size  : contain;
    width            : 31rem;
    height           : 31rem;
    animation        : swing 5s linear infinite;
    transform-origin : top center;
}

#speech_bubble {
    position         : relative;
    top              : 8rem;
    left             : 20rem;
    width            : 30rem;
    padding          : 2rem;
    line-height      : 120%;
    text-align       : left;
    font-family      : 'Amatic SC', cursive;
    font-weight      : 700;
    font-size        : 4rem;
    background       : #333;
    color            : #fff;
    border-radius    : 20px;
    text-transform   : uppercase;
    letter-spacing   : .5rem;
    animation        : swing 10s linear infinite;
    transform-origin : top left;
}

#speech_bubble:before {
    content       : "";
    width         : 0;
    height        : 0;
    position      : absolute;
    border        : 1.5rem solid #333;
    border-left   : 1.5rem solid transparent;
    border-bottom : 1.5rem solid transparent;
    left          : -2.5rem;
    top           : 2.5rem;
}

main {
    position         : absolute;
    right            : 0;
    left             : 0;
    bottom           : 0;
    padding          : 4rem 10rem 2.5rem 2rem;
    background-color : #222;
    color            : #fff;
    display          : flex;
    justify-content  : end;
}

main a {
    color           : #fff;
    text-decoration : none;
}

main svg {
    margin : 2rem 1rem 0 0;
    fill   : currentColor;
    width  : 3rem;
    height : 3rem;
}

h1 {
    font-size   : 3.5rem;
    font-weight : 700;
}

h2 {
    font-size   : 3rem;
    font-weight : 100;
}

@keyframes swing {
    25% {
        transform : rotate(-2deg);
    }
    75% {
        transform : rotate(1deg);
    }
}

@media only screen and (max-width : 600px) {
    html {
        font-size : 8px;
    }


    main {
        justify-content : start;
        padding-right   : 2rem;
    }
}
